@import "../../styles/_colors.scss";
@import "../../styles/_mixins.scss";
@import "../../styles/_fonts.scss";

.emailInput {
  background: $backgroundInputs;
  border-radius: 8px;
  width: 400px;
  display: flex;
  padding: 4px 4px 0 4px;
  align-items: center;
  flex-wrap: wrap;
  min-height: 30px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 14px rgba(26, 24, 24, 0.08);

  @include styleScrollbar();

  .chipItem {
    margin-bottom: 4px;
    min-width: 0;
  }

  .inputContainer {
    flex-grow: 1;

    input {
      width: 100%;
      border :0;
      padding: 4px;
      outline: none;
      margin-bottom: 4px;
      font-size: 14px;
      font-family: $defaultFontFamily, sans-serif;
    }
  }
}

.autocompleteContainer {
  margin-left: 32px;
}
